.language {
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: #71FFDD;
  margin-bottom: 30px;
  padding: 10px;
  padding-bottom: 5px; 
  font-weight: 700;
}

.original-word{
  font-weight: 300;
  font-size: 40px;
  margin-top:0;
  margin-bottom:10px;
}